{% extends "landing/base.html" %}
{%load crispy_forms_tags%}

{% block content %}
<div class="container"> <!---fluid-->
    <div class="row">
        <div class="col-md-2" style="background-color: #00CC99">
        </div>
        <div class="col-md-8" style="background-color: #99CCFF">
            <h2>удаление записи </h2>
			<form method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="p-2 btn btn-secondary">удалить запись </button><br><br>
			</form>


        </div>
        <div class="col-md-2" style="background-color: #00CC99">

        </div>
    </div>
</div>


{% endblock %}