{% extends "landing/base.html" %}

{% block content %}
<div class="container"> <!---fluid-->
    <div class="row">
        <div class="col-md-2" style="background-color: #00CC99">
        </div>
        <div class="col-md-8" style="background-color: #99CCFF">
           {% for cc in object_list  %}
        <div>
            <h1 align='center'>{{ cc.name }} </h1>
            <h2>{{ cc.school }} </h2>
            <h3>{{ cc.annotation }} </h3>
            <p>{{ cc.data_create }} </p>
        </div>
    {% endfor %}

        </div>
        <div class="col-md-2" style="background-color: #00CC99">

        </div>
    </div>
</div>


{% endblock %}
